# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
env/
venv/
build/
dist/
*.egg-info/

# Data & runs
data/
data/train/
data/val/
runs/
outputs/
checkpoints/
.wandb/
mlruns/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
